{{> regNavbar}}

{{!-- Search area --}}
    <div class="search-main">
        <div class="container-fluid px-0 pt-2">
            <div class="z-index-2 py-5 px-5">
                {{!-- Logo --}}
                <div class="row">
                    <div class="col-12">
                        <div class="logo text-center mb-5">
                            <img src="https://drive.google.com/uc?id=1ikjbHt9ThIFHVtuIcWKrnAGQMc6SIhqE" alt="">
                            <h1 id="site-title">CookShare</h1>
                            <h3 id="description">+10,000 recipes of our members</h3>
                        </div>
                    </div>
                </div>
                {{!-- Search button --}}
                <div class="d-flex justify-content-center">
                    <form action="/regSearch" method="post" class="row no-gutters">
                        <div class="col-md-4 px-0">
                            <select class="form-control form-control-sm basic-ingredient" name="ingredient">
                                <option value="" selected disabled hidden>Ingredient</option>
                                <option value="" type="button">------------</option>
                                <option value="pork" type="button">Pork</option>
                                <option value="chicken" type="button">Chicken</option>
                                <option value="calf" type="button">Calf</option>
                                <option value="lamb" type="button">Lamb</option>
                                <option value="turkey" type="button">Turkey</option>
                                <option value="sweet" type="button">Goat</option>
                                <option value="cheese" type="button">Cheese</option>
                                <option value="rice" type="button">Rice</option>
                                <option value="pasta" type="button">Pasta</option>
                                <option value="legumes" type="button">Legumes</option>
                                <option value="fish" type="button">Fish</option>
                                <option value="potato" type="button">Potato</option>
                                <option value="egg" type="button">Egg</option>
                                <option value="milk" type="button">Milk</option>
                                <option value="butter" type="button">Butter</option>
                                <option value="oil" type="button">Olive oil</option>
                                <option value="tomato" type="button">Tomato</option>
                                <option value="carrot" type="button">Carrot</option>
                                <option value="eggplant" type="button">Eggplant</option>
                                <option value="zucchini" type="button">Zucchini</option>
                                <option value="banana" type="button">Banana</option>
                                <option value="apple" type="button">Apple</option>
                                <option value="orange" type="button">Orange</option>
                                <option value="strawberry" type="button">Strawberry</option>
                                <option value="honey" type="button">Honey</option>
                                <option value="tahini" type="button">Tahini</option>
                                <option value="cocoa" type="button">Cocoa</option>
                                <option value="nuts" type="button">Nuts</option>
                                <option value="oats" type="button">Oats</option>
                            </select>
                        </div>
                        <div class="col-md-4 px-0">
                            <select class="form-control form-control-sm categories text-nowrap" name="category">
                                <option value="" selected disabled hidden>Category</option>
                                <option value="" type="button">------------</option>
                                <option value="breakfast" type="button">Breakfast</option>
                                <option value="brunch" type="button">Brunch</option>
                                <option value="appetizer" type="button">Αppetizer</option>
                                <option value="main" type="button">Main</option>
                                <option value="dinner" type="button">Dinner</option>
                                <option value="sweet" type="button">Sweets</option>
                                <option value="savory" type="button">Savory</option>
                                <option value="drink" type="button">Drinks</option>
                                <option value="snack" type="button">Snacks</option>
                                <option value="kids" type="button">Kids</option>
                                <option value="vegan" type="button">Vegan</option>
                                <option value="light" type="button">Light</option>
                                <option value="xmas" type="button">X-mas</option>
                                <option value="easter" type="button">Easter</option>
                            </select>
                        </div>
                        <div class="search col-md-4 px-0">
                            <input type="submit" class="box-shadow" value="Search"/>
                        </div>        
                    </form>
                </div>
            </div>
        </div>
    </div> 
    {{!-- End search area --}}

    {{!-- Add recipe button --}}
    <div class="d-flex justify-content-center pb-5">
    <a class="add-recipe" href="/regAddRecipe" role="button"><i class="fa-solid fa-plus"></i> Προσθήκη συνταγής</a>
    </div> 
    {{!-- End add recipe button --}}

{{!-- User's feed area --}}
<section class=" feed pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Here are the latest recipes of our members.</h1>
            </div>
            <div class="col-6 text-end">
                <a class="all-buttons btn btn-secondary mb-4 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="all-buttons btn btn-secondary mb-4 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {{#each data}}
                                    <div class="col-md-4 mb-3">
                                        <div class="card card-style">
                                            <img class="img-fluid" src={{this.img}} alt="" >
                                            <div class="card-body">
                                                <h4 class="card-title">{{this.title}}</h4>
                                                <div class="row card-text d-flex justify-content-between pt-2 pb-3">
                                                    <div class="col pr-0"> <i class="fa-solid fa-clock"> {{this.time}}</i></div>
                                                    <div class="col px-0"><i class="fa fa-users"> {{this.portions}}</i></div>
                                                    <div class="col pl-0"><i class="fa fa-chart-simple"> {{this.level}}</i></div>
                                                </div>
                                                <a class="all-buttons btn btn-secondary mb-1 mr-1 d-flex justify-content-center" href="/regRecipe" role="button">See in detail</i></a>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {{#each data}}
                                    <div class="col-md-3 mb-3">
                                        <div class="card card-style">
                                            <img class="img-fluid" src={{this.img}} alt="">
                                            <div class="card-body">
                                                <h4 class="card-title">{{this.title}}</h4>
                                                <div class="row card-text d-flex justify-content-between">
                                                    <div class="col"> <i class="fa-solid fa-clock"> {{this.time}}</i></div>
                                                    <div class="col"><i class="fa fa-users"> {{this.portions}}</i></div>
                                                    <div class="col"><i class="fa fa-chart-simple"> {{this.level}}</i></div>
                                                </div>
                                                <a class="all-buttons btn btn-secondary mb-1 mr-1 d-flex justify-content-center" href="/regRecipe" role="button">See in detail</i></a>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- End user's feed area --}}

{{> footer}}