{{> regNavbar}}

{{!-- Search area --}}
    <div class="search-main">
        <div class="container-fluid px-0 pt-2">
            <div class="z-index-2 py-5 px-5">
                {{!-- Logo --}}
                <div class="row">
                    <div class="col-12">
                        <div class="logo text-center mb-5">
                            <img src="https://drive.google.com/uc?id=1ikjbHt9ThIFHVtuIcWKrnAGQMc6SIhqE" alt="">
                            <h1 id="site-title">CookShare</h1>
                            <h3 id="description">+10,000 recipes of our members</h3>
                        </div>
                    </div>
                </div>
                {{!-- Search button --}}
                <div class="d-flex justify-content-center">
                    <form action="/regSearch" method="post" class="row no-gutters">
                        <div class="col-md-4 px-0">
                            <select class="form-control form-control-sm basic-ingredient" name="ingredient">
                                <option value="" selected disabled hidden>Ingredient</option>
                                <option value="" type="button">------------</option>
                                {{#each ingredient}}
                                    <option value={{this.ingredient_name}} type="button">{{this.ingredient_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-4 px-0">
                            <select class="form-control form-control-sm categories text-nowrap" name="category">
                                <option value="" selected disabled hidden>Category</option>
                                <option value="" type="button">------------</option>
                                {{#each category}}
                                    <option value="{{this.category_name}}" type="button">{{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="search col-md-4 px-0">
                            <input type="submit" class="box-shadow" value="Search"/>
                        </div>        
                    </form>
                </div>
            </div>
        </div>
    </div> 
    {{!-- End search area --}}

    {{!-- Add recipe button --}}
    <div class="d-flex justify-content-center pb-5">
    <a class="add-recipe" href="/regAddRecipe" role="button"><i class="fa-solid fa-plus"></i> Add new recipe</a>
    </div> 
    {{!-- End add recipe button --}}

{{!-- User's feed area --}}
<section class=" feed pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Here are the latest recipes of our members.</h1>
            </div>
            <div class="col-6 text-end">
                <a class="all-buttons btn btn-secondary mb-4 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="all-buttons btn btn-secondary mb-4 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {{#each data}}
                                    <div class="col-md-3 mb-3">
                                        <div class="card card-style">
                                            <img class="img-fluid" src={{this.img}} alt="" >
                                            <div class="card-body">
                                                <h4 class="card-title">{{this.title}}</h4>
                                                <div class="row card-text d-flex justify-content-between pt-2 pb-3">
                                                    <div class="col pr-0"> <i class="fa-solid fa-clock"> {{this.time}}</i></div>
                                                    <div class="col px-0"><i class="fa fa-users"> {{this.portions}}</i></div>
                                                    <div class="col pl-0"><i class="fa fa-chart-simple"> {{this.level}}</i></div>
                                                </div>
                                                <a class="all-buttons btn btn-secondary mb-1 mr-1 d-flex justify-content-center" href="/regRecipe?id={{this.recipe_id}}" role="button">See in detail</i></a>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {{#each data}}
                                    <div class="col-md-3 mb-3">
                                        <div class="card card-style">
                                            <img class="img-fluid" src={{this.img}} alt="">
                                            <div class="card-body">
                                                <h4 class="card-title">{{this.title}}</h4>
                                                <div class="row card-text d-flex justify-content-between">
                                                    <div class="col"> <i class="fa-solid fa-clock"> {{this.time}}</i></div>
                                                    <div class="col"><i class="fa fa-users"> {{this.portions}}</i></div>
                                                    <div class="col"><i class="fa fa-chart-simple"> {{this.level}}</i></div>
                                                </div>
                                                <a class="all-buttons btn btn-secondary mb-1 mr-1 d-flex justify-content-center" href="/regRecipe?id={{this.recipe_id}}" role="button">See in detail</i></a>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- End user's feed area --}}

{{> footer}}