{{> regNavbar}}

{{!-- Recipe area --}}
<div id="recipe-area" class="container">
    <div class="card">
        <div class="recipe-info">
            <div class="row">
                <div class="col d-flex justify-content-around py-3">
                    <i class="fa-solid fa-clock"> {{image.time}}</i>
                    <i class="fa fa-users"> {{image.portions}}</i>
                    <i class="fa fa-chart-simple"> {{image.level}}</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pb-3">
                <img id="card-img" src={{image.img}} alt="">
            </div>
        </div>
        <h1 class="title text-center">{{image.title}}</h1>
        <hr>
        <div class="row">
                <div class="col-md-8 d-flex justify-content-start mx-3">
                    <div class="rating">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                </div>    
            <div class="col py-2 d-flex justify-content-end mx-3" style="font-size: 20px;" id="recipe-save"><a href="#"><i class="fa fa-heart"> Save</i></a></div>
        </div>
        <hr>
        <div class="row mx-1">
            <div class="col mx-2 mb-3">
                <pre>{{image.description}}</pre>
                <hr>
                <div><i class="fas fa-user-circle"></i> {{user.alias}}</div>
            </div>
        </div>
    </div>  
    {{!-- Reviews --}}
    <div class="reviews my-3">
        <div class="row">
            <div class="col my-3 mx-2">
                <h4><i class="far fa-star"></i> Reviews &amp; Evaluation</h4>
                <hr>
                <ul class="commentlist mx-3">
                    <li>
                        <div class="row">
                            <div class="col d-flex justify-content-start">
                                <div class="user-comment"><i class="fas fa-user-circle"></i> Spiridoula.vas12</div>
                                <span class="date">15 July, 2016</span>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-start pb-3">
                                    <div class="rating-comments">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Very easy recipe! I tried it yesterday for breakfast and I was excited.</p>
                    </li>
                    <hr>
                    <li>
                        <div class="row">
                            <div class="col d-flex justify-content-start">
                                <div class="user-comment"><i class="fas fa-user-circle"></i> Andrew Georg</div>
                                <span class="date">23 June, 2016</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-start pb-3">
                                <div class="rating-comments">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <p>I would rather not have coconut. Otherwise they were delicious.</p>
                    </li>
                </ul>
            </div>
        </div>
        {{!-- Add comment --}}
        <div class="add-comment">
            <div class="row">
                <div class="col pb-4 px-5">
                    <form>
                        <input type="text" id="comment" name="comment" placeholder="Add a comment..." value="">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        {{!-- End add comment --}}
    </div>
    {{!-- End reviews --}} 
        
</div>
{{!-- End recipe area --}}

{{> footer}}